<!-- Card -->
<div class="card bg-color">
  <!-- Card body -->
  <div class="card-body">
      <form>
          <div class="form-row">
              <div class="form-group col-6">
                  <input type="text" formControlName="firstName" class="form-control" placeholder="Firstname..."/>
              </div>
              <div class="form-group col-6">
                  <input type="text" formControlName="lastName" class="form-control" placeholder="Lastname..."/>
              </div>
          </div>

          <div class="form-group">
              <input type="text" formControlName="email" class="form-control" placeholder="foulen@email.com"/>
          </div>

          <div class="form-group">
              <input type="text" formControlName="poste" class="form-control" placeholder="Votre poste actual"/>
          </div>

          <div class="form-group">
              <input type="text" formControlName="adress" class="form-control" placeholder="adresse..."/>
          </div>

          <div class="form-group">
              <input type="text" formControlName="phone" class="form-control" placeholder="téléphone..."/>
          </div>

          <div class="form-group">
              <textarea class="form-control" rows="5" id="resume" placeholder="Parlez nous de vous..."></textarea>
          </div>

          <div class="text-center">
              <button class="btn btn-primary" type="submit">Enregistrer</button>
          </div>
      </form>
  </div>
  <!-- Card body -->
</div>
<!-- Card -->
