<app-navbar></app-navbar>
<div class="jumbotron jumbotron-fluid color-jumbotron">
    <div class="container">
        <h1>Créez votre CV moderne et professionnel en ligne gratuitement Avec MakeCV</h1>
        <p>MakeCV est l’outil de référence pour la création de CV créatifs, professionnels et multilingues en ligne.</p>
        <p>Créez votre CV moderne et générez votre CV en format PDF prêt à candidater.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
